body {
  font-family: 'Space Mono', monospace;
  padding: 20px;
  background-color: #f6f8ff;
  color: #2b3442;
}

.searchbar-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  flex-grow: 1;
}

button {
  padding: 10px 20px;
  background-color: #0079ff;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.dark-mode {
  background-color: #141d2f;
  color: white;
}
.dark-mode .profile-container {
  background-color: #1e2a47;
}
